*.dat
*.wav
*.mp3
*.mp4
*.srt
*.avi
*.swp
*.out
dlib/
Belonogov/python/*.txt
Belonogov/CPP/CMakeFiles
Belonogov/CPP/dlib_build
Belonogov/CPP/bin
Belonogov/CPP/audio_feat.txt
Belonogov/CPP/*feature.txt


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite




